@font-face {
  font-family: Quartz;
  src: url(fonts/Quartz.ttf), url(fonts/quartz\ regular.ttf), url(fonts/QuartzItalic.ttf), url(fonts/QuartzRegular.ttf);
}

#body>* {
  position: absolute;
  width: 100%;
}

#body>:not(:has(>:checked)) {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

form {
  margin: auto;
  width: max-content;
}

input {
  border: 1px solid #000;
  width: 100px;
}

button {
  background-color: #ddd;
}

output {
  padding: 4px;
}

#board {
  margin: auto;
  border-collapse: separate;
}

#board td {
  width: 16px;
  height: 16px;
}
